@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hero-animation {
  background: linear-gradient(
    147.92deg,
    hsla(239, 76%, 53%, 0, 456) 10.41%,
    hsla(0, 0%, 100%, 0) 89.25%
  );
  animation: bganimation 8s infinite alternate;
}

@keyframes bganimation {
  0%,
  100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

/*  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Scroll */
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 128, 255);
  border-radius: 1rem;
}

.allMessages::-webkit-scrollbar {
  width: 0.2rem;
}
.message::-webkit-scrollbar {
  display: none;
}
/* Button */
.btn {
  font-size: 1rem;
  font-weight: 500;
  font-family: sans-serif;
  padding: 0.4rem 0rem;
  background: rgb(0, 149, 255);
  color: #fff;
  cursor: pointer;
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  margin-top: 1rem;
}
.btn:hover {
  background: rgb(0, 118, 202);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
}
.btn:active {
  background: rgb(0, 149, 255);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
}

.btn1 {
  font-size: 1rem;
  font-family: sans-serif;
  background: linear-gradient(
    to bottom right,
    rgb(0, 179, 255),
    rgb(234, 0, 255)
  );
  color: #fff;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.btn1:hover {
  transform: scale(1.01);
  box-shadow: 0 0 0.3rem 1px rgb(0, 242, 255);
}
.btn1:active {
  transform: scale(1);
}

.shadow1 {
  box-shadow: 0 0 0.2rem 0.1rem rgb(0, 217, 255);
}

.box {
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  transition: 0.1s all ease-in-out;
  filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4));
}
.box:hover {
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
}
.box:active {
  box-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
}

.sidebtn {
  background: linear-gradient(to left, rgb(0, 162, 255), rgb(0, 255, 255));
  filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3));
  transition: all 0.3s ease-in-out;
}
.sidebtn:hover {
  background: linear-gradient(to left, rgb(1, 144, 226), rgb(2, 225, 225));
  filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3));
}

.darkbtn {
  background: linear-gradient(to left, rgb(193, 0, 252), rgb(225, 76, 255));
  filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3));
}

/* Side Btn */
.mainbtn {
  position: relative;
  width: 100%;
  height: 2.6rem;
  border-radius: 0 1.8rem 1.8rem 0;
  overflow: hidden;
}

.adminbtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* background: linear-gradient(to left, rgb(0, 162, 255), rgb(0, 255, 255)); */
  filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.5));
  transition: all 0.3s ease-in-out;
}
.mainbtn:hover .adminbtn {
  width: 100%;
}

.bg {
  background: linear-gradient(to top, rgb(1, 18, 27), rgb(0, 19, 19));
}

.rotate {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Home Box Shadow */
.box1 {
  filter: contrast(1) drop-shadow(0.3px 0.3px 6px rgba(0, 0, 0, 0.1));
}

.box1:hover {
  filter: contrast(1.1) drop-shadow(0.3px 0.3px 6px rgba(0, 0, 0, 0.3));
}

/* Privacy */
.privacy {
  background: url("/privacy.jpg");
  width: 100%;
  height: 18rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.term {
  background: url("/term2.jpg");
  width: 100%;
  height: 18rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
